name: Deploy to Aks
on:
  workflow_dispatch:
  push:
    branches:
      - main
  #     - feature/**
jobs:
  build:
    uses: ./.github/workflows/Build.yml
    secrets: inherit
  deploy-dev:
    runs-on: ubuntu-latest
    env:
      DOCKER_HUB_USERNAME: udayvarma007 # name of Docker Hub ID
      IMAGE_NAME: seventy5-docker
      IMAGE_TAG: ${{ github.run_number }}
      CLUSTER_NAME: aks-seventy5
      RESOURSE_GROUP: seventy5
    needs: [build]
    environment: seventy
    steps:
      - name: Display the path
        run: pwd
        shell: bash
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.secrets.DOCKER_PASSWORD }}

          # Set the target AKS cluster..

      - name: Deploy to AKS
        uses: Azure/aks-set-context@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          cluster-name: ${{ env.CLUSTER_NAME }}
          resource-group: ${{ env.RESOURSE_GROUP }


      - name: Apply Kubernetes deployment
        uses: Azure/k8s-deploy@v1
        with:
          namespace: seventy5
          manifests: |
            K8s/Deployment.yml

          images: |
            udayvarma007/seventy5-docker:${{ github.run_number }}